{% extends 'base.html.twig' %}

{% block title 'Index de prise d\'item de commande' %}


{% block body %}

    <div class="container-mt-4">

        <h1>Index de prise d'item de commande</h1>



        <button class="btn btn-primary">Editer</button>



    </div>


{% endblock %}