{% extends 'base.html.twig' %}

{% block title 'Création d\'un item de commande' %}


{% block body %}

    <div class="container-mt-4">

        <h1>Création d'un item de commande</h1>
        {{ form_start(form) }}
        <div class="row">

        </div>

        {{ form_rest(form) }}
        <button class="btn btn-primary">Valider</button>
        {{ form_end(form) }}


    </div>


{% endblock %}